body {
    font-family:  "Helvetica Neue", Helvetica, Arial, sans-serif;
    text-align: center;
    width: 30em;

    position: fixed;
    top: 50%;
    left: 50%;
    margin-top: -100px;
    margin-left: -15em;
}

input[type=text] {
    background-color: #66666666;
    border-radius: 28px;
    border: none;
    margin: 32px 8px;
    box-shadow: 0 1px 2px 0 rgba(0,0,0,.15);
    visibility: hidden;
}

input[type=text] {
    width: 80%;
    font-size: 18px;
    padding: 16px 32px;
}

input[type=text]:focus {
    outline: none;
}

p.buildtag {
    position: absolute;
    bottom: 0;
}
